.modal__overlay {
    background: rgba(201, 201, 201, 0.25);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0;
    animation: appearing 300ms;
    
}
.overlayAppear {
    animation: overlayAppear 300ms;
}
.overlayDisappear {
    animation: overlayDisappear 350ms;
}

.modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 1rem;
    width: 65%;
}
.appear {
    animation: appearing 300ms;
}
.disappear {
    animation: disappearing 350ms;
}

@keyframes appearing {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    } to {
        opacity: 1;
        transform: translate(-50%, -50%) scaleX(1);
    }
}
@keyframes disappearing {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    } to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
@keyframes overlayAppear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes overlayDisappear {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.closeBtn {
    display: flex;
	align-items: center;
	justify-content: center;

    position: absolute;
    top: 1rem;
    right: 1rem;

    border-radius: 6px;
    width: 2rem;
    height: 2rem;
    background: #dadada;
    border: none;
    color: white;
	transition: background 0.3s ease;
    cursor: pointer;
}
.closeBtn:hover {
    background: #d1d1d1;
}

.modal__container .main {
    display: flex;
    gap: 2rem;
}

.modal__container .main .main_cover {
    flex: 0.7;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: #e4e4e4 0 0 10px;
}
.modal__container .main .main_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__container .main .main_infos {
    flex: 1;
}

.modal__container .main .main_infos .description p {
    text-align: justify;
    margin: 0 0 1.5rem 0;
}

.modal__container h2 {
    text-transform: capitalize;
    color: #31B572;
    font-size: 2.2rem;
    margin: 0 0 1rem 0;
}
.modal__container h3 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
}

.modal__container .main .main_infos .caracteristics p {
    margin: 0;
}
.modal__container .main .main_infos .caracteristics .caracteristic {
    display: flex;
    gap: 1rem;
}
.modal__container .main .main_infos .caracteristics .caracteristic i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.modal__container .main .main_infos .caracteristics .caracteristic.water {
    margin-bottom: 0.5rem;
}
.modal__container .main .main_infos .caracteristics .caracteristic.water i {
    color: #54AFE2;
    margin-right: 3px;
}
.modal__container .main .main_infos .caracteristics .caracteristic.light i {
    color: #FFC107;
}